@model Clinic.Models.Patient

@{
    ViewData["Title"] = "Редактирование пациента";
}

<h2>Редактирование пациента</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Имя</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">Фамилия</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MiddleName" class="control-label">Отчество</label>
        <input asp-for="MiddleName" class="form-control" />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate" class="control-label">Дата рождения</label>
        <input type="date" asp-for="BirthDate" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label">Адрес</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <small>Формат: 123-456-7890</small>
        <label asp-for="Phone" class="control-label">Телефон</label>
        <input type="tel" asp-for="Phone" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DistrictId" class="control-label">Район</label>
        <select asp-for="DistrictId" class="form-control" asp-items="ViewBag.DistrictId"></select>
        <span asp-validation-for="DistrictId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
        <a href="@Url.Action("Index", "Patients")" class="btn btn-secondary">Отмена</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
