@model Clinic.Models.ReasonsForVisit

@{
    ViewData["Title"] = "Редактирование причины визита";
}

<h2>Редактирование причины визита</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание причины визита</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PatientId" class="control-label">Пациент</label>
        <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId"></select>
        <span asp-validation-for="PatientId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-primary" />
        <a href="@Url.Action("Index", "ReasonsForVisit")" class="btn btn-secondary">Отмена</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
