@model Clinic.Models.Doctor

<h1>Редактировать информацию о враче</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="FirstName">Имя</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Фамилия</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MiddleName">Отчество</label>
        <input asp-for="MiddleName" class="form-control" />
        <span asp-validation-for="MiddleName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegistryId">Отделение</label>
        <select asp-for="RegistryId" class="form-control" asp-items="@(new SelectList(ViewBag.Registries, "Id", "DepartmentNumber"))"></select>
        <span asp-validation-for="RegistryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SpecialtyId">Специальность</label>
        <select asp-for="SpecialtyId" class="form-control" asp-items="@(new SelectList(ViewBag.Specialties, "Id", "Name"))"></select>
        <span asp-validation-for="SpecialtyId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="@Url.Action("Index", "Doctors")" class="btn btn-secondary">Отмена</a>
</form>
