@model Clinic.Models.DoctorSpecialty

<h1>Добавление специальзации</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название специальзации</label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание специальзации</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-primary" />
        <a href="@Url.Action("Index", "DoctorSpecialties")" class="btn btn-secondary">Отмена</a>
    </div>
</form>
