@model Clinic.Models.DoctorSpecialty

<h1>Удаление</h1>

<h3>Вы уверены что хотите удалить данную специальзацию?</h3>
<div>
    <h4>Специальзация</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="col-sm-2">
            Название специальзации
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Описание специальзации
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a href="@Url.Action("Index", "DoctorSpecialties")" class="btn btn-secondary">Отмена</a>
    </form>
</div>
